.toolbar {
  z-index: 1;
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.5);
  position: relative;
  background: #390c72;
  & button {
    color: #bbb;
    &:disabled {
      color:#777
    }
  }
}

.rotate-90 {
  transform: rotate(90deg);
}